doctype html
html
    head
        title Utube
        script(src="https://kit.fontawesome.com/aa52032d99.js", crossorigin="anonymous")
    body
        main
            include ../partials/header
            block content
        include ../partials/footer