extends layouts/main.pug
include mixins/videoGrid

block content
    .search__header
        h3 Searching for : #{searchBy}
    .search__videos
        if videos.length === 0
            h5 No Videos Found
        each video in videos
            +videoGrid(video)