html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  all: unset;
  cursor: pointer; }

*,
input {
  box-sizing: border-box; }

input {
  border: none;
  box-sizing: border-box; }
  input:focus, input:active {
    outline: none; }

html,
body {
  height: 100%; }

body {
  background-color: #17202a;
  color: #444444;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 14px; }

main {
  width: 100%;
  margin: 0 auto;
  min-height: 70vh; }

.header {
  background: linear-gradient(90deg, #16222a, #3a6073, #16222a);
  margin-bottom: 50px;
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.2);
  width: 100%; }
  .header .header__wrapper {
    padding: 15px 0px;
    width: 100%;
    margin: 0 auto;
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center; }
    .header .header__wrapper .header__column i {
      color: white;
      font-size: 30px; }
    .header .header__wrapper .header__column:nth-child(2) {
      width: 100%;
      justify-self: center; }
    .header .header__wrapper .header__column:last-child {
      justify-self: end; }
    .header .header__wrapper .header__column ul {
      display: flex;
      color: white;
      font-weight: 400;
      text-transform: uppercase; }
      .header .header__wrapper .header__column ul li a {
        padding: 0.5rem;
        border-radius: 5px;
        background-color: rgba(255, 255, 255, 0.1);
        border: 1px solid rgba(255, 255, 255, 0.4); }
      .header .header__wrapper .header__column ul li:not(:last-child) {
        margin-right: 15px; }
    .header .header__wrapper .header__column form {
      width: 100%; }
      .header .header__wrapper .header__column form input {
        padding: 10px 10px;
        width: 100%;
        border-radius: 5px;
        font-size: 14px;
        color: white;
        font-weight: 600;
        max-width: none;
        background-color: #aeb6bf; }
        .header .header__wrapper .header__column form input::-webkit-input-placeholder {
          font-weight: 300;
          color: rgba(0, 0, 0, 0.7); }
        .header .header__wrapper .header__column form input:-ms-input-placeholder {
          font-weight: 300;
          color: rgba(0, 0, 0, 0.7); }
        .header .header__wrapper .header__column form input::-ms-input-placeholder {
          font-weight: 300;
          color: rgba(0, 0, 0, 0.7); }
        .header .header__wrapper .header__column form input::placeholder {
          font-weight: 300;
          color: rgba(0, 0, 0, 0.7); }

.footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 0px; }
  .footer .footer__icon {
    color: white;
    font-size: 50px;
    margin-bottom: 20px; }
  .footer .footer__text {
    color: rgba(255, 255, 255, 0.5);
    font-weight: 600;
    text-transform: uppercase; }

.form-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px; }
  .form-container form {
    width: 100%;
    max-width: 350px;
    padding: 20px 20px 40px 20px;
    border-radius: 5px;
    background-color: #1c2833;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    margin-bottom: 25px; }
    .form-container form:hover {
      box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }
    .form-container form h5 {
      font-size: 22px;
      margin-bottom: 25px;
      text-align: center;
      color: white; }
    .form-container form input {
      padding: 10px 10px;
      width: 100%;
      border-radius: 5px;
      font-size: 14px;
      color: white;
      font-weight: 600;
      max-width: none;
      background-color: #aeb6bf;
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }
      .form-container form input::-webkit-input-placeholder {
        font-weight: 300;
        color: rgba(0, 0, 0, 0.7); }
      .form-container form input:-ms-input-placeholder {
        font-weight: 300;
        color: rgba(0, 0, 0, 0.7); }
      .form-container form input::-ms-input-placeholder {
        font-weight: 300;
        color: rgba(0, 0, 0, 0.7); }
      .form-container form input::placeholder {
        font-weight: 300;
        color: rgba(0, 0, 0, 0.7); }
      .form-container form input:not(:last-child) {
        margin-bottom: 25px; }
      .form-container form input[type="submit"] {
        background-color: #050a19;
        padding: 15px 10px;
        box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }
    .form-container form label {
      font-weight: 400;
      color: white; }
    .form-container form textarea {
      padding: 10px 10px;
      width: 100%;
      border-radius: 5px;
      font-size: 14px;
      color: white;
      font-weight: 600;
      max-width: none;
      height: 150px;
      margin-bottom: 20px;
      background-color: #aeb6bf;
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }
      .form-container form textarea::-webkit-input-placeholder {
        font-weight: 300;
        color: rgba(0, 0, 0, 0.7); }
      .form-container form textarea:-ms-input-placeholder {
        font-weight: 300;
        color: rgba(0, 0, 0, 0.7); }
      .form-container form textarea::-ms-input-placeholder {
        font-weight: 300;
        color: rgba(0, 0, 0, 0.7); }
      .form-container form textarea::placeholder {
        font-weight: 300;
        color: rgba(0, 0, 0, 0.7); }
  .form-container button {
    width: 100%;
    padding: 20px 30px;
    border-radius: 0px;
    margin-bottom: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 15px;
    color: white;
    border: none;
    font-size: 16px;
    border-radius: 5px; }
  .form-container .social-login {
    display: flex;
    max-width: 350px;
    justify-content: space-between; }
    .form-container .social-login .social-login--github {
      background-color: black; }
    .form-container .social-login .social-login--facebook {
      background-color: #3b5998; }
    .form-container .social-login span {
      margin: 0px 5px; }
